<% include partials/header %>

<section class="new_startup_banner_area">
  <div class="container">
      <div class="row text-center">
          <div class="col-lg-12">
              <span class="primary_header_text"><span>Blackklist</span> to help you in case your phone is lost or got stolen</span>
              <p class="secondary_header_text">When you add your lost/stolen phone to Blackklist, in case anyone found it and tries to sell it, The buyer will be able to search our list to see if the phone is lost or stolen from someone and then contact you</p>
              <a href="/add_new_phone"><button class="btn btn-warning ">Add lost phone</button></a>
          </div>
          
          
         
      </div>
      
  </div>
</section>
        
<% include partials/footer %>