/*====================================================*/
/*=== fonts ====*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

/*===== color =====*/
/*====================================================*/
/*====================================================*/
a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

i:before {
  margin-left: 0px !important;
}

body {
  font: 300 15px/28px 'Tajawal', sans-serif;
  letter-spacing: 0px;
  color: #fff;
  background-color: #000;
  padding: 0px;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
}


a,
.btn,
button {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.seo_sec_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #263b5e;
  margin-bottom: 15px;
}



.this_is_phone {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  /* justify-content: space-between; */
  /* -webkit-box-align: center; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* position: fixed; */
  color: black;
  background-color: #ffc107;
  padding: 1rem 1.75rem;
  /* margin: 30px; */
  margin-top: 20px;
  margin-left: 0px;
  font-weight: 900;
  /* border-radius: 3px; */
  /* transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; */
}


@media (min-width: 300px) and (max-width: 700px) {
  .this_is_phone {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    /* justify-content: space-between; */
    /* -webkit-box-align: center; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* position: fixed; */
    color: black;
    background-color: #ffc107;
    padding: 1rem 1.75rem;
    /* margin: 30px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 900;
    font-size: 15px;
    /* border-radius: 3px; */
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
}

.spacer {
  padding-bottom: 50px;
  padding-top: 50px;
}

/*====================================================*/