<% include partials/header %>

<section class="new_startup_banner_area">
    <div class="container">
        <div class="row text-center">
            <div style="margin-top: 65px;" class="col-lg-12">

                <span class="primary_header_text"><span>بلاك ليست</span> لمساعدتك في حالة فقدان أو سرقة هاتفك
                    الجوال</span>
                <p class="secondary_header_text">عند ادراج هاتفك في قائمة بلاك ليست، في حالة أراد شخص ما بيع هاتفك
                    المفقود/المسروق، سيتمكن التاجر من البحث علي منصة بلاك ليست ما أذا كان الهاتف مدرج بالقوائم أم لا</p>
                <a href="/add_new_phone"><button class="btn btn-warning ">أضف هاتف مفقود</button></a>
            </div>



        </div>

    </div>
</section>
<div class="spacer"></div>
<% include partials/footer %>