
</div>
<p style="color:white;" class="text-center">Build with <span style="color:#dc3545;font-size: 17px;">♥</span> By <a href="https://github.com/peterehab1">Peter Ehab</a></p>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="javascripts/jquery-3.2.1.min.js"></script>
<script src="javascripts/propper.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/plugins.js"></script>
<script src="javascripts/main.js"></script>
</body>

</html>
